version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: fastapi_db
      POSTGRES_USER: fastapi_user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: fastapi-api
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgresql://fastapi_user:password@db:5432/fastapi_db

volumes:
  postgres_data:
